body {
    background-image: url("https://cdn.glitch.global/b93502fe-aa12-4bc1-9409-c5249324f4ef/yoga.jpg?v=1657819666222");
    background-repeat: no-repeat;
    background-size: cover;
    height: 200px;
}

.heading {
    display: flex;
    justify-content: center;
}

h1 {
font-size: 35px;
color: #7C3E66;
padding: 15px;
font-family: 'Josefin Sans', sans-serif;
}

.container {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
}

.time {
    background-color: #3F4E4F;
    height: 300 px;
    width: 200px;
    border-top-left-radius: 100% 20px; border-bottom-right-radius: 100% 20px;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 20px; 
    font-family: 'Josefin Sans', sans-serif;
}

.DAYS, .HOURS, .MINUTES, .SECONDS{
    font-size: 20px; 
    font-family: 'Josefin Sans', sans-serif;
}

button{
    margin: 0 auto;
    border: none;
    outline: none; 
    border: 0;
    background: transparent;
    font-size: 16px;
    padding: 4px 12px;

}

.sky{
    font-size: 45px;
    border: none;
    font-family: 'Edu SA Beginner', cursive;
    color: lightcyan;
}

@media all and (max-width: 800px){
    h1{
        font-size: 35px;
    }
}

@media all and (max-width: 500px){
    h1{
        font-size: 25px;
    }
}